.recipe-form-container {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-form {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 7px solid #F79700;
}

.recipe-title-input {
  margin-left: 12px;
}

.recipe-form input[type=text] {
  padding: 5px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recipe-form textarea {
  resize: vertical;
  min-height: 100px;
}

.recipe-form input,
.recipe-form textarea {
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipe-form-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: center;
  margin-top: 5px;
}

.recipe-form-line:last-of-type {
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 10px;
}

.recipe-form-line input {
  margin-left: 15px;
}

#clear-url-input {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#clear-url-input:hover {
  background-color: #fff;
}

.buttons {
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 6px;
  padding: 2px 10px 1px 10px;
  margin: 8px 0;
  align-self: flex-end;
  font-size: 1.1em;
}

.close-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 0.9em;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  align-self: flex-end;
}

.delete-and-insert-ing-buttons {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}

.delete-and-insert-ing-buttons button:first-child {
  margin-right: 15px;
}

@media (max-width: 550px) {
  .recipe-form {
    max-width: 260px;
  }
	
  .recipe-form-line input {
    width: 80%;
    margin-left: 10px;
    padding: 1px;
  }
	
  #recipe-instructions-input {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
  }
}